<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="bb-calendar">

  <!-- scoped CSS for this element -->
  <style>
    paper-checkbox {
    	display: block;
    }
  </style>

  <template>
  	<template is="dom-repeat" items="{{days}}" as="day">
  		<paper-checkbox checked="{{day.selected}}">{{_capitalize(day.day)}}</paper-checkbox>
  		<template is="dom-if" if="{{day.selected}}">
  			<div class="one-line">
				<paper-input value="{{day.open}}" label="Open"></paper-input>
				<paper-input value="{{day.open}}" label="Close"></paper-input>
				<paper-radio-group selected="am">
				  <paper-radio-button name="am">AM</paper-radio-button>
				  <paper-radio-button name="pm">PM</paper-radio-button>
				</paper-radio-group>
			</div>
  		</template>
  	</template>
  </template>

  <script>
    Polymer({
      is: 'bb-calendar',
      properties: {
      	schedule: Object,
      	days: {
      		type: Array,
      		value: [
	      		{'day': 'sunday', 		'selected':false, 'open': '', 'close': '', 'when': ['am', 'pm']},
	      		{'day': 'monday', 		'selected':false, 'open': '', 'close': '', 'when': ['am', 'pm']},
	      		{'day': 'tuesday', 		'selected':false, 'open': '', 'close': '', 'when': ['am', 'pm']}, 
	      		{'day': 'wednesday', 	'selected':false, 'open': '', 'close': '', 'when': ['am', 'pm']}, 
	      		{'day': 'thursday', 	'selected':false, 'open': '', 'close': '', 'when': ['am', 'pm']}, 
	      		{'day': 'friday', 		'selected':false, 'open': '', 'close': '', 'when': ['am', 'pm']}, 
	      		{'day': 'saturday', 	'selected':false, 'open': '', 'close': '', 'when': ['am', 'pm']}
      		]
      	}
      },
      _capitalize: function (string) {
      	return string.charAt(0).toUpperCase() + string.slice(1);
      }
    });
  </script>

</dom-module>