<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/iron-input/iron-input.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-progress/paper-progress.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">

<dom-module id="bb-admin-page">

  <!-- scoped CSS for this element -->
  <style>
    paper-input {
      display: inline-block;
    }
    paper-radio-group {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    paper-radio-button {
      display: block;
      padding: 0;
      margin: 0;
    }
    #submit {
      background-color: blue;
      color: white;
    }
    #delete {
      background-color: red;
      color: white;
    }
    #notes-input {
      width: 100%;
    }

    #notes-section {
      border: 1px solid black;
      min-height: 20px;
    }

  </style>

  <template>
  	<iron-ajax
      id="ajax"
	    url="http://barkbites.noip.me:7000/api/v0/places"
	    params=''
	    handle-as="json"
	    method="POST"
	    content-type="application/json"
	    on-response="handleResponse"
      last-response="{{response}}"
	    debounce-duration="300"
  	></iron-ajax>

    <h1>Bark Bites Admin</h1>

    <paper-input label="Place Name" value="{{name}}"></paper-input>
    <paper-input label="Place ID" value="{{placeId}}"></paper-input>

    <paper-radio-group id="restrictionGroup" selected="{{selectedRestriction}}">
      <paper-radio-button name="inside">Inside</paper-radio-button>
      <paper-radio-button name="patio">Patio</paper-radio-button>
      <paper-radio-button name="patioPlus">Patio Plus</paper-radio-button>
      <paper-radio-button name="outside">Outside of Patio</paper-radio-button>
      <paper-radio-button name="none">Not Applicable / Not Allowed</paper-radio-button>
    </paper-radio-group>

    <paper-input id="notes-input" label="Enter Notes Here" value="{{barknotes}}"></paper-input>
    <p>Your Notes: </p>
    <p id="notes-section">{{barknotes}}</p>

    <paper-button id="submit" raised on-click="submitPlace">Submit BarkBite Place</paper-button>
    <paper-button id="delete" raised on-click="deletePlace">Delete</paper-button>

  </template>

  <script>
    Polymer({
      is: 'bb-admin-page',
      properties: {
        selected: {
          type: String,
          value: 'none'
        }
      },

      submitPlace: function () {
        var self = this;
        if (self.placeId) {
          var query =
            {
              'name': self.name,
              'googlePlaceId': self.placeId,
              'petRestriction': self.selectedRestriction,
              'notes': self.barknotes
            };

          self.$.ajax.url = 'http://barkbites.noip.me:7000/api/v0/places';
          self.$.ajax.method = 'POST';
          self.$.ajax.body = JSON.stringify(query);
          self.$.ajax.generateRequest();
        } else {
          alert("Must Enter a Place ID");
        }
      },

      deletePlace: function () {
        var self = this;
        if (self.placeId) {
          self.$.ajax.url = 'http://barkbites.noip.me:7000/api/v0/places/' + self.placeId;
          self.$.ajax.method = 'DELETE';
          self.$.ajax.generateRequest();
        }
      },

      handleResponse: function () {
        if (this.response === null) {
          alert('No response came back, check console errors. \n(inspect element -> console tab)');
        } else {
          console.log(this.response);
          alert('Message: ' + this.response.message);
        }
      }
    });
  </script>

</dom-module>
