<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/iron-input/iron-input.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-progress/paper-progress.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">

<dom-module id="bb-admin-page">

  <!-- scoped CSS for this element -->
  <style>
    paper-input {
      display: inline-block;
    }
    paper-radio-group {
      display: block;
      margin-top: 10px;
      margin-bottom: 10px;
    }
    paper-radio-button {
      display: block;
      padding: 0;
      margin: 0;
    }
    .blueButton {
      background-color: blue;
      color: white;
    }
    #delete {
      background-color: red;
      color: white;
    }
    #notes-input {
      width: 100%;
    }

    #notes-section {
      border: 1px solid black;
      min-height: 20px;
    }
    paper-input {
      display: block;
    }
    paper-tab {
      background-color: blue;
      color: white;
      font-size: 20px;
    }
    .search {
      background-color: #EEE;
    }

  </style>

  <template>
  	<iron-ajax
      id="ajax"
	    url="/api/v0/places"
	    params=''
	    handle-as="json"
	    method="POST"
	    content-type="application/json"
	    on-response="handleResponse"
      last-response="{{response}}"
	    debounce-duration="300"
  	></iron-ajax>

    <h1>Bark Bites Admin</h1>

    <paper-tabs selected="{{selectedTab}}">
      <paper-tab>Create / Update / Delete</paper-tab>
    </paper-tabs>

    <iron-pages selected="{{selectedTab}}">
      <div>
        <paper-input class="search" label="Search for places already in barkbites database" value="{{searchString}}"></paper-input>

        <paper-input label="Place Name" value="{{name}}"></paper-input>
        <paper-input label="Place ID" value="{{placeId}}"></paper-input>

        <paper-radio-group id="restrictionGroup" selected="{{selectedRestriction}}">
          <paper-radio-button name="inside">Inside</paper-radio-button>
          <paper-radio-button name="patioPlus">Patio Plus</paper-radio-button>
          <paper-radio-button name="patio">Patio</paper-radio-button>
          <paper-radio-button name="outside">Outside of Patio</paper-radio-button>
          <paper-radio-button name="none">Not Applicable / Not Allowed</paper-radio-button>
        </paper-radio-group>

        <paper-input id="notes-input" label="Enter Notes Here" value="{{barknotes}}"></paper-input>
        <p>Your Notes: </p>
        <p id="notes-section">{{barknotes}}</p>

        <paper-button id="submit" class="blueButton" raised on-click="submitPlace">Submit BarkBite Place</paper-button>
        <paper-button id="update" class="blueButton" raised on-click="updatePlace">Update</paper-button>
        <paper-button id="delete" raised on-click="deletePlace">Delete</paper-button>

      </div>
    </iron-pages>

  </template>

  <script>
    Polymer({
      is: 'bb-admin-page',
      properties: {
        selectedRestriction: {
          type: String,
          value: 'none'
        },
        selectedTab: {
          type: Number,
          value: 0
        },
        searchString: {
          type: String,
          value: '',
          observer: 'searchStringChanged'
        }
      },

      submitPlace: function () {
        var self = this;
        if (self.placeId) {
          var query =
            {
              'name': self.name,
              'googlePlaceId': self.placeId,
              'petRestriction': self.selectedRestriction,
              'notes': self.barknotes
            };

          self.$.ajax.url = '/api/v0/places';
          self.$.ajax.method = 'POST';
          self.$.ajax.body = JSON.stringify(query);
          self.$.ajax.generateRequest();

          self.cleanup();
          self.searchString = '';
        } else {
          alert("Must Enter a Place ID");
        }
      },

      updatePlace: function () {
        var self = this;
        if (self.placeId) {
          var query =
            {
              'name': self.name,
              'googlePlaceId': self.placeId,
              'petRestriction': self.selectedRestriction,
              'notes': self.barknotes
            };

          self.$.ajax.url = '/api/v0/places/' + self.placeId;
          self.$.ajax.method = 'PUT';
          self.$.ajax.body = JSON.stringify(query);
          self.$.ajax.generateRequest();
          self.cleanup();
          self.searchString = '';
        } else {
          alert("Must Enter a Place ID");
        }
      },

      deletePlace: function () {
        var self = this;
        if (self.placeId) {
          var confirmed = confirm('are you sure you want to delete ' + self.name + '?');
          if (confirmed) {
            self.$.ajax.url = '/api/v0/places/' + self.placeId;
            self.$.ajax.method = 'DELETE';
            self.$.ajax.generateRequest();
            self.cleanup();
            self.searchString = '';
          }
        } else {
          alert("Must Enter a Place ID");
        }
      },

      cleanup: function () {
        this.name = '';
        this.selectedRestriction = 'none';
        this.barknotes = '';
        this.placeId = '';
      },

      handleResponse: function () {
        if (this.response === null) {
          this.cleanup();
          console.log('No response came back, check console errors. \n(inspect element -> console tab)');
        } else if (typeof(this.response) === 'object') {
          var name = this.response.name;
          var petRestriction = this.response.petRestriction;
          var notes = this.response.notes;
          var placeId = this.response.googlePlaceId;

          if (name) this.name = name;
          if (petRestriction) this.selectedRestriction = petRestriction;
          if (notes) this.barknotes = notes;
          if (placeId) this.placeId = placeId;
        }

        if (this.response && this.response.message) {
          console.log(this.response.message);
        }
      },

      searchStringChanged: function () {
        var self = this;
        if (self.searchString !== '') {
          self.$.ajax.url = '/api/v0/places/search/' + self.searchString;
          self.$.ajax.method = 'GET';
          self.$.ajax.generateRequest();
        } else {
          self.cleanup();
        }
      }
    });
  </script>

</dom-module>
