<link rel="import" href="/bower_components/polymer/polymer.html">
<link rel="import" href="/bower_components/iron-ajax/iron-ajax.html">
<link rel="import" href="/bower_components/iron-form/iron-form.html">
<link rel="import" href="/bower_components/iron-input/iron-input.html">
<link rel="import" href="/bower_components/paper-checkbox/paper-checkbox.html">
<link rel="import" href="/bower_components/paper-input/paper-input.html">
<link rel="import" href="/bower_components/paper-item/paper-item.html">
<link rel="import" href="/bower_components/paper-menu/paper-menu.html">
<link rel="import" href="/bower_components/paper-progress/paper-progress.html">
<link rel="import" href="/bower_components/paper-radio-button/paper-radio-button.html">
<link rel="import" href="/bower_components/paper-radio-group/paper-radio-group.html">
<link rel="import" href="/bower_components/paper-spinner/paper-spinner.html">
<link rel="import" href="/bower_components/paper-toggle-button/paper-toggle-button.html">
<link rel="import" href="/bower_components/paper-button/paper-button.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tabs.html">
<link rel="import" href="/bower_components/paper-tabs/paper-tab.html">
<link rel="import" href="/bower_components/iron-pages/iron-pages.html">
<link rel="import" href="bb-admin-viewall-page.html">

<dom-module id="bb-admin-page">

  <!-- scoped CSS for this element -->
  <style>
    paper-input {
      display: inline-block;
    }
    .blueButton {
      background-color: blue;
      color: white;
    }
    #delete {
      background-color: red;
      color: white;
    }
    #notes-input {
      width: 100%;
      height: 100px;
      margin-top: 10px;
      margin-bottom: 10px;
    }

    paper-input {
      display: block;
    }
    paper-tab {
      background-color: blue;
      color: white;
      font-size: 20px;
    }
    #sections {
      display: flex;
    }
    .section {
      width: 100%;
      margin: 10px;
    }

  </style>

  <template>
  	<iron-ajax
      id="ajax"
	    url="/api/v0/places"
	    params=''
	    handle-as="json"
	    method="POST"
	    content-type="application/json"
	    on-response="handleResponse"
      last-response="{{response}}"
	    debounce-duration="300"
  	></iron-ajax>

    <h1>Bark Bites Admin</h1>

    <paper-tabs selected="{{selectedTab}}">
      <paper-tab>Create / Update / Delete</paper-tab>
      <paper-tab>View All</paper-tab>
    </paper-tabs>

    <iron-pages selected="{{selectedTab}}">
      <div>
        <div id="sections">
          <div class="section">
            <paper-input label="Search by Place Name" value="{{searchString}}"></paper-input>
          </div>
          <div class="section">
            <paper-input label="Place Name" value="{{name}}"></paper-input>
            <paper-input label="Place ID" value="{{googlePlaceId}}"></paper-input>

            <paper-radio-group id="restrictionGroup" selected="{{petRestriction}}">
              <paper-radio-button name="inside">Inside</paper-radio-button>
              <paper-radio-button name="patioPlus">Patio Plus</paper-radio-button>
              <paper-radio-button name="patio">Patio</paper-radio-button>
              <paper-radio-button name="outside">Outside of Patio</paper-radio-button>
              <paper-radio-button name="none">Not Applicable / Not Allowed</paper-radio-button>
            </paper-radio-group>

            <label>Your Notes: </label><br>
            <textarea id="notes-input" value="{{notes}}"></textarea>

            <paper-button id="submit" class="blueButton" raised on-click="submitPlace">Submit BarkBite Place</paper-button>
            <paper-button id="update" class="blueButton" raised on-click="updatePlace">Update</paper-button>
            <paper-button id="delete" raised on-click="deletePlace">Delete</paper-button>
          </div>
        </div>
      </div>

      <div>
        <bb-admin-viewall-page id="viewAll"></bb-admin-viewall-page>
      </div>
    </iron-pages>

  </template>

  <script>
    Polymer({
      is: 'bb-admin-page',
      properties: {
        petRestriction: {
          type: String,
          value: 'none'
        },
        selectedTab: {
          type: Number,
          value: 0
        },
        searchString: {
          type: String,
          value: '',
          observer: 'searchStringChanged'
        }
      },

      submitPlace: function (event) {
        var self = this;
        if (self.googlePlaceId) {
          var query =
            {
              'name': self.name,
              'googlePlaceId': self.googlePlaceId,
              'petRestriction': self.petRestriction,
              'notes': self.querySelector('#notes-input').value
            };

          self.$.ajax.url = '/api/v0/places';
          self.$.ajax.method = 'POST';
          self.$.ajax.body = JSON.stringify(query);
          self.$.ajax.generateRequest();

          self.cleanup();
          self.searchString = '';
          self.$.viewAll.refresh();
        } else {
          alert("Must Enter a Place ID");
        }
      },

      updatePlace: function () {
        var self = this;
        if (self.googlePlaceId) {
          var query =
            {
              'name': self.name,
              'googlePlaceId': self.googlePlaceId,
              'petRestriction': self.petRestriction,
              'notes': self.querySelector('#notes-input').value
            };

          self.$.ajax.url = '/api/v0/places/' + self.googlePlaceId;
          self.$.ajax.method = 'PUT';
          self.$.ajax.body = JSON.stringify(query);
          self.$.ajax.generateRequest();
          self.cleanup();
          self.searchString = '';
          self.$.viewAll.refresh();
        } else {
          alert("Must Enter a Place ID");
        }
      },

      deletePlace: function () {
        var self = this;
        if (self.googlePlaceId) {
          var confirmed = confirm('are you sure you want to delete ' + self.name + '?');
          if (confirmed) {
            self.$.ajax.url = '/api/v0/places/' + self.googlePlaceId;
            self.$.ajax.method = 'DELETE';
            self.$.ajax.generateRequest();
            self.cleanup();
            self.searchString = '';
            self.$.viewAll.refresh();
          }
        } else {
          alert("Must Enter a Place ID");
        }
      },

      cleanup: function () {
        this.name = '';
        this.petRestriction = 'none';
        this.notes = '';
        this.googlePlaceId = '';
      },

      handleResponse: function () {
        if (this.response === null) {
          console.log('Nothing came back, try again');
          this.cleanup();
        }

        else if (this.response.googlePlaceId){
          this.name = this.response.name;
          this.petRestriction = this.response.petRestriction;
          this.notes = this.response.notes;
          this.googlePlaceId = this.response.googlePlaceId;
        }
      },

      searchStringChanged: function () {
        var self = this;
        if (self.searchString !== '') {
          self.$.ajax.url = '/api/v0/places/search/' + self.searchString;
          self.$.ajax.method = 'GET';
          self.$.ajax.generateRequest();
        } else {
          self.cleanup();
        }
      }
    });
  </script>

</dom-module>
